img[preload-image] {
  transition: max-height .3s, opacity .3s;
  opacity: 1;
}

img[preload-image].ng-preloader-loading {
  max-height: 120px !important;
  opacity: 0;
  height: 120px;
  width: 100%;
}

img.ng-preloader-loading-spinner {
  margin-top: -120px;
}

img[preload-image]:not(.ng-preloader-loading) + img.ng-preloader-loading-spinner {
  display: none;
}