img[preload-image] {
  transition: max-height .3s, opacity .3s;
  opacity: 1;
}

img[preload-image].ng-preloader-loading {
  max-height: 120px !important;
  opacity: 0;
  height: 120px;
  width: 100%;
}

img.ng-preloader-loading-spinner {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  left: 50%;
  transform: translate(-50%, 0);
}

img[preload-image]:not(.ng-preloader-loading) + img.ng-preloader-loading-spinner {
  display: none;
}

[preload-bg-image] {
  &.ng-preloader-bg-loading {
    background-position: center center !important;
    background-size: 60% !important;
    background-repeat: no-repeat !important;
  }
}